@model TrelloIntegration.ViewModels.BoardViewModel
@{
    ViewBag.Title = Model.Board.Name;
}
<script>
    var getBoardDetailUrl = "@Url.Action("BoardDetail", "Dashboard", new { boardID = @Model.Board.ID})"
</script>
<script src="~/Scripts/board.js"></script>

<div class="container">
    <div class="navbar navbar-default">
        <div class="navbar-brand pull-left navbar-text">
            <a class="navbar-link" href="@Url.Action("Index", "Dashboard")">Home</a>
        </div>

        @Html.Partial("UserPanel", Model.UserFullName)
    </div>

    @Html.Partial("DashboardTop")

    <div class="well">
        <div class="boardDetail">
            <h1>Loading board...</h1>
        </div>
    </div>
</div>