
@model TrelloIntegration.ViewModels.Board

@{
    //TODO change to board detail view model
    ViewBag.Title = Model.name;
}

@section scripts {
    <script>
        var token = "@Session["trello_token"]";
        var logoutAction = "@Url.Action("Logout", "Account", null)";
    </script>
}
<script src="~/Scripts/dashboard.js"></script>
<div class="container">

    @*<div class="alert alert-danger" role="alert" ng-show="hasError">
            <span class="glyphicon glyphicon-exclamation-sign"></span>
            <span ng-bind="errorMessage"></span>
        </div>

        <div class="alert alert-success" role="alert" ng-show="showSuccessMessage">
            <span class="glyphicon glyphicon-exclamation-sign"></span>
            <span ng-bind="successMessage"></span>
        </div>*@

    <div class="row">
        <div class="col-lg-10">
            <h1>@Model.name</h1>
        </div>
        <div class="col-lg-2">
            <button class="btn-primary btn-lg btn-block logout">Log out</button>
        </div>
    </div>

    <div class="well">
        @foreach (var list in Model.Lists)
        {
            <div class="list-group-item">
                <div class="list-group">
                    <div class="list-group-item-heading">
                        <h1>
                            @list.name
                        </h1>
                    </div>
                    @foreach (var card in list.Cards)
                    {
                        <a class="btn btn-block btn-default" href="/dashboard/card?cardID=@card.ID">
                            <h2>
                                @card.Name
                            </h2>
                        </a>
                    }
                </div>
            </div>
        }
    </div>
</div>

