@model TrelloIntegration.ViewModels.CardViewModel

@{
    ViewBag.Title = Model.Card.Name;
}

<script>
    var getCardDetailUrl = "@Url.Action("CardDetail", "Dashboard", new { cardID = @Model.Card.ID})";
</script>
<script src="~/Scripts/card.js"></script>

<div class="container">
    <div class="navbar navbar-default">
        <div class="navbar-brand pull-left navbar-text">
            <a class="navbar-link" href="@Url.Action("Index", "Dashboard")">Home</a> |
            <a class="navbar-link" href="@Url.Action("Board", "Dashboard", new { boardId = Model.Card.IDBoard })">Back to board</a>
        </div>

        @Html.Partial("UserPanel", Model.UserFullName)
    </div>

    @if ((bool?)TempData["wasCommentAdded"] == true)
    {
        <div class="alert alert-success" role="alert" ng-show="showSuccessMessage">
            <span class="glyphicon glyphicon-exclamation-sign"></span>
            Comment added!
        </div>
    }

   @Html.Partial("DashboardTop")

    <div class="well">
        <div class="cardDetail">
            <h1>Loading card...</h1>
        </div>
    </div>
</div>
